[[source]]
# Setup source of packages
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
isodate = "*"
jupyter = "*"
"psycopg2-binary" = "*"
tabulate = "*"

[dev-packages]
ipython = "*"
rope = "*"
autoflake = "*"
pylint = "*"
"flake8" = "*"
"autopep8" = "*"
pycodestyle = "*"
pyflakes = "*"
mypy = "*"

[requires]
python_version = "3.6"
