chrome_profile/*
*.pyc
*.log
scheduler.sh
*.env
# The exceptions are for demonstration purposes. Please remove these files
# when sharing relevant passwords
!jobs/**/*.env
!navigators/helpers/password.env

*.csv
*.json
