*.pyc
*.log
*.error
src/chrome_profile*
browsermob-proxy-2.1.4/
.mypy_cache/

# The following files can be generated with "make test"
test_data_lake.Dockerfile
docker-compose.test.yml

scraper.Dockerfile.bkp