@import 'variables';
.chart-container {
  @include xy-grid-container(100%, 0);
  margin-bottom: rem-calc(14px);
}

.chart {
  @include xy-grid();
  font-size: $title-font-size;
  font-family: $title-font;
  .active-chart {
    @include page-component;
    margin-left: 0 !important;
    &.super {
      @include xy-cell(auto);
      margin-right: 0;
    }
    &.normal {
      @include xy-cell(7 of 9);
      margin-right: rem-calc(1px);
    }
    .recharts-tooltip-wrapper {
      z-index: 1;
    }
    >div {
      display: flex;
      .toggle-summary {
        display: flex;
        align-items: center;
        font-size: rem-calc(30px);
        >button {
          cursor: pointer;
          &:hover {
            color: $highlight-hover;
          }
        }
      }
    }
  }
  .chart-loading {
    @include page-component;
    margin-left: 0 !important;
    margin-right: 0 !important;
    @include xy-cell(auto);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .summary {
    @include page-component;
    @include xy-cell(auto);
    margin-right: 0;
    margin-left: rem-calc(1px);
    .summary-top {
      .select {
        font-size: $font-size;
        width: 100%;
        margin: auto;
        &:nth-child(2) {
          margin-top: rem-calc(10px);
        }
      }
    }
    .summary-filters {
      .line {
        @include xy-grid();
        padding-top: rem-calc(14px);
        .item {
          border: 1px solid;
          border-radius: rem-calc(28px);
          margin-left: 0 !important;
          @include xy-cell(shrink);
          @include xy-grid();
          padding: rem-calc(7px);
          margin-right: rem-calc(10px);
          max-width: 60%;
          .category {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 60%;
          }
          .f-icon {
            @include xy-cell(shrink);
            font-size: $font-size;
            margin-left: rem-calc(7px);
            margin-right: rem-calc(7px);
            position: relative;
            top: rem-calc(5px);
          }
          .name {
            padding-left: rem-calc(5px);
            padding-right: rem-calc(5px);
            @include xy-cell(shrink);
          }
          >button {
            cursor: pointer;
            &:focus {
              outline: none;
            }
            .f-icon-close {
              font-size: $font-size;
              margin-left: rem-calc(12px);
              margin-right: rem-calc(7px);
              position: relative;
              bottom: rem-calc(1px);
            }
          }
        }
        .count {
          @include xy-cell(auto);
          font-size: $project-title-font-size;
          position: relative;
          top: rem-calc(4px);
          margin-left: 0;
          margin-right: 0;
          text-align: right;
        }
      }
    }
  }
}

.metric-selector {
  @include xy-grid();
  margin-top: rem-calc(14px);
  .small-chart-item {
    &.items-1 {
      @include xy-cell(1 of 1, false);
    }
    &.items-2 {
      @include xy-cell(1 of 2, false);
    }
    &.items-3 {
      @include xy-cell(1 of 3, false);
    }
    &.items-4 {
      @include xy-cell(1 of 4, false);
    }
    &.items-5 {
      @include xy-cell(1 of 5, false);
    }
    &.items-6 {
      @include xy-cell(1 of 6, false);
    }
    &.items-7 {
      @include xy-cell(1 of 7, false);
    }
    &.items-8 {
      @include xy-cell(1 of 8, false);
    }
    &.items-9 {
      @include xy-cell(1 of 9, false);
    }
    background-color: white;
    border-radius: rem-calc(7px);
    margin: auto;
    cursor: pointer;
    svg {
      cursor: pointer;
    }
    >div {
      text-align: center;
    }
    .metric-value {
      margin-left: rem-calc(14px);
      font-size: rem-calc(20px);
    }
  }
  >span {
    align-items: center;
    font-size: rem-calc(30px);
    display: flex;
    button {
      color: $white;
      cursor: pointer;
    }
  }
}
