@import 'variables';
@mixin fee-button {
  @include xy-cell(shrink);
  text-align: left;
  cursor: pointer;
  padding-left: rem-calc(14px);
  padding-right: rem-calc(14px);
  margin-right: rem-calc(14px);
  outline: 2px solid $light-grey;
  &:hover {
    background-color: $highlight;
    color: $white;
  }
}

.date-picker-container {
  @include xy-grid-container(100%, 0);
  position: relative;
  margin-bottom: rem-calc(1px);
}

.icon-right {
  margin-left: rem-calc(10px);
}

.date-picker {
  @include xy-grid();
  @include page-component;
  font-size: $title-font-size;
  font-family: $title-font;
  min-height: rem-calc(70px);
  .export {
    @include fee-button;
  }
  .placeholder {
    @include xy-cell(auto);
  }
  .button {
    outline: 2px solid $light-grey;
    background-color: $white;
    color: $almost-black;
    margin-bottom: 0 !important;
    margin-right: rem-calc(14px);
    width: rem-calc(150px);
    &.active {
      background-color: $highlight-faded;
      color: $white;
    }
  }
  .date-dropdown {
    @include dropdown-container;
    width: rem-calc(600px);
    outline: 2px solid $light-grey;
    border: none;
    padding: 0;
    margin-bottom: 0;
    &.is-open {
      @include xy-grid;
    }
    .date-menu {
      @include menu-base;
      @include menu-expand;
      @include menu-direction(vertical);
      @include xy-cell(1 of 3, false);
      width: rem-calc(200px);
      .button {
        outline: none;
        text-align: left;
        margin-bottom: 0;
        &.dropdown-toggle {
          margin-bottom: 0;
        }
      }
    }
    .range-selector {
      @include xy-cell(auto, false);
      padding: $default-padding;
      border-left: 2px solid $light-grey;
      text-align: center;
      &.disabled {
        background-color: $almost-white;
        .DayPicker {
          opacity: 0.6;
          .DayPicker-Day {
            cursor: initial;
          }
        }
      }
      button {
        cursor: pointer;
        margin-bottom: 0;
      }
      :global {
        @import "~react-day-picker/lib/style.css";
      }
      .Range {
        .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
          background-color: $highlight-hover !important;
        }
        .DayPicker-Day {
          border-radius: 0 !important;
        }
        .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
          background-color: $highlight;
        }
      }

      .date-element {
        display: flex;
        margin-bottom: rem-calc(5px);
        justify-content: center;

        label {
          width: 30%;
          align-self: center;
        }

        input {
          width: 60%;
          margin: 0;
          padding: rem-calc(8px);
        }
      }
    }
  }
  .select-pre-defined-buttons {
    font-size: $font-size;
    @include xy-grid-container(100%, 0);
    @include xy-grid();
    @include xy-gutters(0, margin, (left));
    button {
      @include xy-cell(auto);
      width: rem-calc(90px);
      outline: 2px solid $light-grey;
      background-color: $white;
      color: $almost-black;
      cursor: pointer;
      margin-left: 0;
      margin-right: 0;
      &:hover {
        background-color: $highlight-hover;
        color: $white;
      }
      &.active {
        background-color: $highlight;
        color: $white;
      }
    }
  }
}

.title {
  @include xy-grid();
  @include page-component;
  font-size: $title-font-size;
  font-family: $title-font;
}
