@import 'variables';

.nav-container {
    @include xy-grid-container(100%, 0);
    height: rem-calc(70px);
}
.site-header {
    border-bottom: $nav-menu-border-width solid $nav-menu-color;
    @include xy-grid();
    font-family: $title-font;
    height: inherit;

    .left-container {
        @include flex-align(left, middle);
        width: 25%;
        @include xy-grid();
        .logo {
            @include xy-cell(60%);
        }

        .project-title {
            @include xy-cell(40%);
            @include flex-align(right, middle);
            text-transform: uppercase;
            font-size: $project-title-font-size;
            @include font-bold(700);
        }
    }

    .menu {
        @include menu-base();

        .button {
            background: inherit;
            color: inherit;
            padding: 0;
        }

        &.main-menu {
            @include xy-cell(auto);
            @include flex-align(center, middle);
            .main-menu-item {
                @include xy-gutters($grid-margin-gutters, margin, (right));
                padding: rem-calc(24px) rem-calc(12px);
                margin-bottom: 0;
                &.active {
                    color: red;
                    border-bottom: rem-calc(4px) solid red;
                    position: relative;
                }
            }
        }

        &.user-menu {
            @include xy-cell(1 of 4);
            @include flex-align(right, middle);
            @include xy-grid-container(100%, 0);
            font-size: $font-size;
            .user-menu-item {
                // @include xy-gutters($grid-margin-gutters, margin, (right));
                @include xy-grid-container(100%, 0);
            }
            .f-icon {
                position: relative;
                @include xy-gutters($grid-margin-gutters, margin, (left));
                font-size: $icon-font-size;
                top: rem-calc(2px); // align icon with text
            }
        }
    }

    .vertical-line {
        border-left: $nav-menu-border-width solid $nav-menu-color;
    }
}

.admin-dropdown {
    @include dropdown-container;
    outline: 2px solid $light-grey;
    width: 200px;
    border: none;
    padding: 0;
    margin-bottom: 0;
    z-index: 5000;
    @include xy-grid-container(100%, 0);
    @include xy-grid();
    @include xy-gutters(0, margin, (left));

    .admin-menu {
        @include menu-base;
        @include menu-expand;
        @include menu-direction(vertical);


        .button {
            @include xy-cell(auto);
            background-color: $white;
            color: $almost-black;
            cursor: pointer;
            margin: 0 0 0 0;

            &:hover {
                background-color: $highlight-hover;
                color: $white;
            }

            &.active {
                background-color: $highlight;
                color: $white;
            }
        }
    }
}
