@import 'variables';
@import 'videolist';
@import 'video';
.container {
  @include xy-grid-container(100%, 0);
  position: relative;
}

@mixin association-search-mixin {
  @include xy-grid-container(100%, 0);
  margin: 0;
  form {
    margin-right: rem-calc(10px);
    margin-left: rem-calc(10px);
    border-bottom: rem-calc(1px) solid black;
    display: flex;
    .text-container {
      position: relative;
      @include xy-cell(auto);
      margin: 0;
      input[type=text] {
        width: 100%;
        background: inherit;
        border: none;
        margin: 0;
        padding: 0;
        box-shadow: none;
      }
    }
    button {
      .f-icon {
        cursor: pointer;
        position: relative;
        font-size: rem-calc(24px);
        padding: rem-calc(2px);
      }
    }
  }
}

@mixin component {
  @include xy-cell(100%, false);
  width: 100%;
  @include xy-grid-container(100%, 0);
  margin-bottom: rem-calc(14px);
  background: $white;
  @include xy-grid();
  margin-left: 0;
  margin-right: 0;
  padding: rem-calc(10px);
}

.date-picker {
  .video-management {
    @include cancel-update-button;
  }
}

.page-body {
  @include xy-grid();
  .admin-video-container {
    @include xy-cell(5 of 7, false);
    @include xy-grid-container(100%, 0);
    @include xy-grid();
    margin-right: rem-calc(10px);
    flex-flow: column;
    .video-container {
      padding: 0 !important;
      .basic {
        padding: rem-calc(10px);
        padding-bottom: 0;
      }
    }
    .pagination-sort-tags {
      @include component;
      @include header;
      margin-bottom: 0;
      z-index: 1001;
      top: rem-calc(151px);
      height: rem-calc(70px);
      .filter-selector-item {
        @include xy-cell(2 of 5);
        @include filter-selector-autosuggestion;
      }
    }
    .video-operations {
      @include component;
      @include header;
      margin-top: 0;
      top: rem-calc(216px);
      height: rem-calc(70px);
      input[type=checkbox] {
        margin-bottom: 0;
        margin-right: rem-calc(10px);
      }
      .operation {
        cursor: pointer;
        padding-top: rem-calc(7px);
        padding-bottom: rem-calc(7px);
        font-size: rem-calc(22px);
        margin: 0;
        margin-right: rem-calc(10px);
        color: black;
      }
      .archive-selector {
        @include xy-cell(1 of 7);
      }
      .cancel {
        margin-right: rem-calc(10px);
        background-color: rgb(255, 255, 255);
      }
      .cancel:hover {
        background-color: $highlight-hover;
      }
      .cancel, .update {
        font-size: 0.9rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
      }
      .update {
        color: rgb(255, 255, 255);
      }
    }
    .new-video {
      @include component;
      @include flex-align(center, middle);
      height: rem-calc(120px);
      padding: rem-calc(15px);
      .operation {
        font-size: rem-calc(24px);
      }
      >span {
        @include xy-cell(100%);
        text-align: center;
      }
    }
    .video {
      @include component;
      padding: 0;
      .separator {
        height: rem-calc(10px);
        width: 100%;
        background: $background-color;
      }
    }
  }
  .unassociated {
    @include xy-cell(auto, false);
    min-width: rem-calc(250px);
    @include xy-grid-container(100%, 0);
    @include xy-grid(vertical);
    background: $white;
    margin-left: 0;
    margin-right: 0;
    padding: rem-calc(10px);
    .unassoc-title {
      font-weight: 500;
      text-align: center;
      position: sticky;
      position: -webkit-sticky;
      top: 110px;
      z-index: 1001;
      background: $white;
      padding-top: rem-calc(20px);
      padding-bottom: rem-calc(20px);
    };
    .show-line {
      @include xy-cell(100%, false);
      @include xy-grid-container(100%, 0);
      @include xy-grid();
      @include flex-align(center, middle);
      .message {
        @include xy-cell(shrink);
        margin-left: 0;
      }
      .select {
        @include xy-cell(auto);
        margin: 0;
      }
      position: sticky;
      position: -webkit-sticky;
      top: 150px;
      z-index: 1002;
      background: $white;
      padding-top: rem-calc(20px);
      padding-bottom: rem-calc(20px);
    }
    .search {
      @include association-search-mixin;
      position: sticky;
      position: -webkit-sticky;
      top: 230px;
      z-index: 1001;
      background: $white;
      padding-bottom: rem-calc(20px);
    }
    .unassociated-sources {
      margin-top: rem-calc(10px);
      flex-grow: 1;
      @include xy-cell(100%);
      @include source-component-mixin;
      overflow-y: auto;
      max-height: calc(100vh - 205px);
      position: sticky;
      position: -webkit-sticky;
      top: 300px;
      z-index: 999;
    }
  }
}

.video-management {
  .date-picker-container {
    z-index: 1003;
    @include box-shadow;
  }
}
