@mixin associations-list {
  border-top: 1px solid $light-grey;
  padding: rem-calc(10px);
  @include xy-grid-container(100%, 0);
  @include xy-grid();

  .association-container {
    @include xy-cell(1 of 3);
    // TODO This is hack, fix that later
    max-width: rem-calc(350px);
    @include source-component-mixin;
  }
}
@mixin source-component-mixin {
  .source-component {
    @include xy-grid-container(100%, 0);
    @include xy-grid();
    background-color: rgb(234, 234, 234);
    margin-bottom: rem-calc(10px);
    padding: rem-calc(5px);
    border-radius: rem-calc(20px);
    @include flex-align(center, middle);
    >svg {
      @include xy-cell(shrink);
      font-size: $title-font-size;
      margin: 0;
      margin-left: rem-calc(5px);
      color: rgb(89, 89, 92);
    }
    .title {
      @include xy-cell(9 of 10);
      min-width: rem-calc(200px);
      padding: 0;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background-color: rgb(234, 234, 234);
      font-size: $font-size;
      color: rgb(89, 89, 92);
    }
  }

  .source-tooltip {
    pointer-events: auto !important;
    background-color: $white;
    border: 1px solid rgb(89, 89, 92);
    z-index: 10000;
    color: $black;
    opacity: 1 !important;
    &:hover {
      visibility: visible !important;
    }
    &.place-top {
      &:after {
        border-top-color: rgb(89, 89, 92) !important;
        border-top-style: solid !important;
        border-top-width: 6px !important;
        color: $white;
      }
    }

    .source-component-tooltip {
      @include xy-grid-container(100%, 0);
      @include xy-grid();
      @include flex-align(left, middle);
      max-width: rem-calc(800px);
      .thumb {
        @include xy-cell();
        width: rem-calc(70px);
        margin: 0;
      }

      .container {
        @include xy-cell(auto);
        @include xy-grid-container(100%, 0);
        @include xy-grid();
        width: 90%;
        margin: 0;
        .title {
          @include xy-cell(100%);
          width: 100%;
          padding: 0;
        }
        .info {
          @include xy-cell(100%);
        }
      }
    }
  }
}

.video-data {
  .basic {
    @include flex;
    color: $title-color;
    margin-bottom: rem-calc(10px);

    .thumb {
      height: auto;
      margin-right: rem-calc(10px);
      min-width: rem-calc(50px);
      width: rem-calc(50px);
    }

    .info {
      width: 90%;

      textarea[readonly] {
        background-color: $white !important;
        cursor: auto !important;
      }

      .video-component-tooltip {
        pointer-events: auto !important;
        background-color: $white;
        border: 1px solid rgb(89, 89, 92);
        max-width: 60%;
        color: $black;
        opacity: 1 !important;
        &.place-top {
          &:after {
            border-top-color: rgb(89, 89, 92) !important;
            border-top-style: solid !important;
            border-top-width: 6px !important;
            color: $white;
          }
        }

        .medium-tone-topic {
          margin: rem-calc(5px 0);
          overflow-x: scroll;
          white-space: nowrap;

          .tag {
            background-color: $grey;
            border-radius: 10px;
            color: $white;
            font-size: $font-size;
            margin-right: rem-calc(5px);
            padding: rem-calc(2px 6px);
            margin-bottom: rem-calc(2px);

            svg {
              margin-left: rem-calc(4px);
              font-size: rem-calc(8px);
            }
          }
        }
      }

      .title-container {
        height: $project-title-font-size;
        .title-sub-container {
          position: relative;
          .title {
            position: absolute;
            width: 95%;
          }
        }
      }

      .title {
        display: block;
        margin-bottom: rem-calc(0);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0;
      }

      .facebook {
        color: blue;
        cursor: pointer;
      }

      .youtube {
        color: red;
        cursor: pointer;
      }

      .sources-playlists {
        @include flex;
        @include flex-align(left, middle);

        .playlists {
          font-size: $font-size;
          margin-left: rem-calc(8px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &.edit {
            max-width: rem-calc(300px);
          }
        }
      }

      &.expanded {
        input {
          height: auto;
          line-height: 1;
          margin-bottom: 0;

          &:not(:last-child) {
            margin-bottom: rem-calc(5px);
          }
        }

        svg.fa-youtube {
          color: #f00;
        }

        svg.fa-facebook {
          color: #3b5998;
        }

        .archived-message {
          font-size: $font-size;
        }
        .medium-tone-topic {
          margin: rem-calc(5px 0);
          overflow-x: scroll;
          white-space: nowrap;

          .tag {
            background-color: $grey;
            border-radius: 10px;
            color: $white;
            font-size: $font-size;
            margin-right: rem-calc(5px);
            padding: rem-calc(2px 6px);
            margin-bottom: rem-calc(2px);

            svg {
              margin-left: rem-calc(4px);
              font-size: rem-calc(8px);
            }
          }
        }
      }
    }
  }
  .associations {
    @include associations-list;
  }
}

.link-container {
  @include page-component(true);
  @include xy-grid;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  @include flex-align(justify, middle);
  .date {
    @include xy-cell(2 of 12, false);
  }
  .title {
    @include xy-cell(8 of 12, false);
  }
  .link {
    @include xy-cell(1 of 12, false);
  }
}
